<?xml version="1.0" ?>
<module>

<Login f="nodata">
  <Author f="noscroll">
    <Login t="list" f="user" l="Admin"/>
  </Author>
</Login>

<Admin f="nodata">
  <Home f="noscroll">
    <Create_New_Record l="Field_Entry"/>
    <Field_Entries t="list" e="Field_Entry"/>
  </Home>
  <search/>
  <Seed_ID>
    <autonum/>
  </Seed_ID>
</Admin>

<Field_Entry>
  <fmt>BORE - {{Bore_ID}} - {{Catchment}}</fmt>
  <Physiochemical>
    <cols>
      <Bore_ID f="autonum"/>
      <Site_Code/>
    </cols>
    <Catchment/>
    <!-- <Date b="date"/>
    <Time b="time"/> -->
    <Start_Time r="readonly"/>
    <Start_Time_Button t="button"/>
    <!-- TODO BBS make button to reset timestamp -->
    <gps/>
    <Elevation_m b="decimal">
      Elevation (m)
    </Elevation_m>
    <Monitoring_Equipment_Present t="radio">
      <opts>
        <opt>Y</opt>
        <opt>N</opt>
      </opts>
    </Monitoring_Equipment_Present>
    <Min_Slot_m b="decimal">
      Min Slot (m)
    </Min_Slot_m>
    <Max_Slot_m b="decimal">
      Max Slot (m)
    </Max_Slot_m>
    <Depth_to_Water_m b="decimal">
      Depth to Water (m)
    </Depth_to_Water_m>
    <Casing_Height_m b="decimal">
      Casing Height (m)
    </Casing_Height_m>
    <cols>
      <col>
        <Temp_30L b="decimal">
          Temp (30L)
        </Temp_30L>
        <pH_30L b="decimal">
          pH (30L)
        </pH_30L>
        <EC_uS_cm_30L b="decimal">
          EC uS/cm (30L)
        </EC_uS_cm_30L>
        <DO_mg_L_30L b="decimal">
          DO mg/L (30L)
        </DO_mg_L_30L>
        <ORP_30L b="decimal">
          ORP (30L)
        </ORP_30L>
      </col>
      <col>
        <Temp_180L b="decimal">
          Temp (180L)
        </Temp_180L>
        <pH_180L b="decimal">
          pH (180L)
        </pH_180L>
        <EC_uS_cm_180L b="decimal">
          EC uS/cm (180L)
        </EC_uS_cm_180L>
        <DO_mg_L_180L b="decimal">
          DO mg/L (180L)
        </DO_mg_L_180L>
        <ORP_180L b="decimal">
          ORP (180L)
        </ORP_180L>
      </col>
    </cols>
    <Last_Calibrated t="date"/>
    <Camera t="camera"/>
  </Physiochemical>
  <Stygos>
    <TwoL_Bailer t="radio">
      2L Bailer
      <opts>
        <opt>Y</opt>
        <opt>N</opt>
      </opts>
    </TwoL_Bailer>
    <Number_of_Net_Hauls_63um b="integer">
      Number of Net Hauls (63um)
    </Number_of_Net_Holes_63um>
    <Number_of_Net_Hauls_150um b="integer">
      Number of Net Hauls (150um)
    </Number_of_Net_Hauls_150um>
    <Number_of_Jars_30L b="integer"/>
    <Sed_Volume_Remaining_30L_L b="decimal">
      Sed Volume Remaining 30L (L)
    </Sed_Volume_Remaining_30L_L>
    <Number_of_Jars_180L b="integer"/>
    <Sed_Volume_Remaining_180L_L b="decimal">
      Sed Volume Remaining 180L (L)
    </Sed_Volume_Remaining_180L_L>
    <Ethanol_Used b="decimal">
      Ethanol % Used
    </Ethanol_Used>
    <Stygos_Notes/>
  </Stygos>
  <Water_Quality>
    <Water_Qual_Collected t="radio">
      <opts>
        <opt>Y</opt>
        <opt>N</opt>
      </opts>
    </Water_Qual_Collected>
    <Metals_Filtered t="radio">
      <opts>
        <opt>Y</opt>
        <opt>N</opt>
      </opts>
    </Metals_Filtered>
    <Metals_Preserved t="radio">
      <opts>
        <opt>In field</opt>
        <opt>EOD</opt>
      </opts>
    </Metals_Preserved>
    <Alkalinity_Collected t="radio">
      <opts>
        <opt>Y</opt>
        <opt>N</opt>
      </opts>
    </Alkalinity_Collected>
    <Isotope_Collected t="radio">
      <opts>
        <opt>Y</opt>
        <opt>N</opt>
      </opts>
    </Isotope_Collected>
    <Pesticide_Dipstick t="radio">
      Pesticide (Dipstick)
      <opts>
        <opt>Positive</opt>
        <opt>Negative</opt>
      </opts>
    </Pesticide_Dipstick>
    <Microbial_Sample t="radio">
      <opts>
        <opt>Y</opt>
        <opt>N</opt>
      </opts>
    </Microbial_Sample>
    <Preservitave_Added t="radio">
      <opts>
        <opt>Y</opt>
        <opt>N</opt>
      </opts>
    </Preservitave_Added>
    <Storage t="dropdown">
      <opts>
        <opt>Fridge</opt>
        <opt>Esky</opt>
        <opt>Freezer</opt>
        <opt>Other</opt>
      </opts>
    </Storage>
    <Tube_Cleaned t="radio">
      <opts>
        <opt>Y</opt>
        <opt>N</opt>
      </opts>
    </Tube_Cleaned>
  </Water_Quality>
  <Logger>
    <Logger_Number b="decimal"/>
    <Logger_Data_Collected t="radio">
      <opts>
        <opt>Y</opt>
        <opt>N</opt>
      </opts>
    </Logger_Data_Collected>
    <Depth_to_Water_Post_Pumping_m b="decimal">
      Depth to Water Post Pumping (m)
    </Depth_to_Water_Post_Pumping_m>
    <Time_Replaced b="time"/>
  </Logger>
  <Site_Chars>
    <Trees_5m_Tall_in_250m_Radius b="integer">
      #Trees >5m Tall in 250m Radius
    </Trees_5m_Tall_in_250m_Radius>
    <Dominant_Vegetation t="checkbox">
      <opts>
        <opt>Crops</opt>
        <opt>Grass</opt>
        <opt>Salt Bush</opt>
        <opt>Shrub</opt>
        <opt>Large Trees</opt>
        <opt>Other</opt>
      </opts>
    </Dominant_Vegetation>
    <Sediment_Type t="checkbox">
      <opts>
        <opt>Gravel</opt>
        <opt>Coarse Sand</opt>
        <opt>Medium Sand</opt>
        <opt>Fine Sand</opt>
        <opt>Clay</opt>
      </opts>
    </Sediment_Type>
    <Sediment_Volume t="checkbox">
      <opts>
        <opt>Very High</opt>
        <opt>High</opt>
        <opt>Medium</opt>
        <opt>Low</opt>
        <opt>Very Low</opt>
      </opts>
    </Sediment_Volume>
    <Land_Use_5_km t="checkbox">
      <opts>
        <opt>Mining</opt>
        <opt>Cropping</opt>
        <opt>Dryland Cropping</opt>
        <opt>Grazing</opt>
        <opt>National Park</opt>
        <opt>Horticulture</opt>
        <opt>Other</opt>
      </opts>
    </Land_Use_5_km>
    <Irrigated t="radio">
      <opts>
        <opt>Y</opt>
        <opt>N</opt>
      </opts>
    </Irrigated>
    <Crop_Type/>
    <Cropping_Practice t="checkbox">
      <opts>
        <opt>Single Skip</opt>
        <opt>Double Skip</opt>
        <opt>Double Crop</opt>
        <opt>Other</opt>
      </opts>
    </Cropping_Practice>
    <Type_Evidence_of_Irrigation t="checkbox">
      <opts>
        <opt>Furrow</opt>
        <opt>Dam</opt>
        <opt>Spray</opt>
        <opt>Drip</opt>
        <opt>Flood</opt>
        <opt>Other</opt>
      </opts>
    </Type_Evidence_of_Irrigation>
    <Number_of_Dams b="integer"/>
    <Distance_to_Dam_m b="integer">
      Distance to Dam (m)
    </Distance_to_Dam_m>
    <Dam_Level_Pct b="integer">
      Dam Level (%)
    </Dam_Level_Pct>
    <Recharge_Volume_Pumped_Before_Empty/>
    <Recharge_Rate_m_sec b="decimal">
      Recharge Rate (m/sec)
    </Recharge_Rate_m_sec>
    <Site_Characteristics_Notes/>
  </Site_Chars>
  <Veg>
    <New_Tree t="button" lc="Tree"/>
    <List_of_Related_Trees t="list" ec="Tree"/>
  </Veg>
  <Microbial_Filtering_EOD>
    <Number_of_Membranes_Filtered b="integer">
      Number of Membranes Filtered?
    </Number_of_Membranes_Filtered>

    <M1_Time_Filtering_Started b="time"/>
    <M1_Volume_Filtered_L b="decimal">
      M1 Volume Filtered (L)
    </M1_Volume_Filtered_L>
    <M1_Sediment_Added t="radio">
      <opts>
        <opt>Y</opt>
        <opt>N</opt>
      </opts>
    </M1_Sediment_Added>
    <M1_Time_Frozen b="time"/>

    <M2_Time_Filtering_Started b="time"/>
    <M2_Volume_Filtered_L b="decimal">
      M2 Volume Filtered (L)
    </M2_Volume_Filtered_L>
    <M2_Sediment_Added t="radio">
      <opts>
        <opt>Y</opt>
        <opt>N</opt>
      </opts>
    </M2_Sediment_Added>
    <M2_Time_Frozen b="time"/>

    <M3_Time_Filtering_Started b="time"/>
    <M3_Volume_Filtered_L b="decimal">
      M3 Volume Filtered (L)
    </M3_Volume_Filtered_L>
    <M3_Sediment_Added t="radio">
      <opts>
        <opt>Y</opt>
        <opt>N</opt>
      </opts>
    </M3_Sediment_Added>
    <M3_Time_Frozen b="time"/>
  </Microbial_Filtering_EOD>
</Field_Entry>
<Tree>
  <fmt>{{Bore_ID}} Tree #{{Tree_ID}}</fmt>
  <Bore_ID f="id" i="Field_Entry/Physiochemical/Bore_ID" />
  <Tree_ID f="id" b="integer">
  <Species>
    <opts>
      <opt>River Redgum</opt>
      <opt>Coolabah</opt>
      <opt>Yellow box</opt>
    </opts>
  </Species>
  <Distance_from_bore_m b="decimal">
    Distance from Bore (m)
  </Distance_from_bore_m>
  <Bearing_direction_from_bore_deg b="integer">
    Bearing Direction from Bore (deg)
  </Bearing_direction_from_bore_deg>
  <DBH_cm b="decimal">
    DBH (cm)
  </DBH_cm>
  <Height_m b="decimal">
    Height (m)
  </Height_m>
  <Canopy_Extent_m2 b="decimal">
    Canopy Extent (m^2)
  </Canopy_Extent_m2>
  <Canopy_Density_pct b="decimal">
    Canopy Density (pct)
  </Canopy_Density_pct>
  <Dead_Canopy_pct b="decimal">
    Dead Canopy (pct)
  </Dead_Canopy_pct>
  <Dead_Limbs_Count b="integer"/>
  <Alive_Limbs_Count b="integer"/>
  <Evidence_of_Flowering t="checkbox">
      <opts>
        <opt>Fruit</opt>
        <opt>Flower</opt>
        <opt>Bud</opt>
      </opts>
    </Evidence_of_Flowering>
  <Tree_Isotope_Collected t="radio">
      <opts>
        <opt>Y</opt>
        <opt>N</opt>
      </opts>
  </Tree_Isotope_Collected>
  <Tree_Isotope_Number b="integer"/>
  <Tree_Notes/>
  <camera>
</Tree>
<logic><![CDATA[
  /****************************** DATE POPULATION *******************************/
  void setDayMonth() {
    ref     = "Field_Entry/Physiochemical/Start_Time";
    fmt     = "yyyy-MM-dd HH:mm";
    date    = new Date();
    dateFmt = new java.text.SimpleDateFormat(fmt);
    dateStr = dateFmt.format(date);
    if(dateStr.endsWith(".")){
      dateStr = dateStr.substring(0, dateStr.length()-1);
    }
    setFieldValue(ref, dateStr);
  }
  addOnEvent("Field_Entry/Physiochemical/Start_Time_Button", "click", "setDayMonth()");
  ]]>
</logic>
</module>

